flask
flask-limiter
pandas
sqlalchemy==1.4.47
xlrd
xlsxwriter
requests
bs4
#se for rodar em linux com nginx/uwsgi
#uwsgi
#se for usar com busca de chaves google
async
aioflask
aiohttp
asgiref
#para mapa
folium
orjson