<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<head>
<title>Rede</title>
<!-- 
projeto disponível em https://github.com/rictom/rede-cnpj' 

utilizando os seguintes códigos:
https://github.com/anvaka/VivaGraphJS
https://www.cssscript.com/beautiful-multi-level-context-menu-with-pure-javascript-and-css3/
https://fabien-d.github.io/alertify.js/
https://fontawesome.com/v4.7.0/icon/trash
-->

<link rel="shortcut icon" href="/static/imagem/favicon.ico" type="imagem/x-icon">
<link rel="icon" href="/static/imagem/favicon.ico" type="imagem/x-icon">
<script type="text/javascript" src="/static/vivagraph/vivagraph.min.js"></script>
<script type="text/javascript" src="/static/alertify/alertify.min.js"></script>
<link  rel="stylesheet" href="/static/alertify/css/alertify.css" /><link  rel="stylesheet" href="/static/alertify/css/themes/default.css" />
<link rel="stylesheet" href="/static/menu/font-awesome_5.14.0_css_all.min.css">
<link rel="stylesheet" href="/static/menu/menu.css">

<script type="text/javascript">

// http://jsfiddle.net/ibigd/z7ymfpmm/
var graph = Viva.Graph.graph();

var graphics = Viva.Graph.View.svgGraphics();
var gparam = {};
	gdebug = null;
	gparam.nodeSize = 24;
	gparam.tamanhoFonte = 10;
	gparam.kligacoes = 0;
	gparam.idLigacoes = {};
	gparam.idnoSelecionado = null;
	gparam.idNosSelecionados = new Set();
	//gparam.idNosInseridos = new Set();
	gparam.listaIdNosInseridos = [];
	gparam.cpfcnpjInicial="{{cpfcnpjInicial}}";
	gparam.camadaInicial={{camadaInicial}};
	gparam.mensagemInicial="{{mensagemInicial}}".replace(/\.\./g,'.\n');
	gparam.inserirDefault="{{inserirDefault}}";
	gparam.confirmaAntesDeInserirNNos = 100;
	gparam.renderer = null;
	gparam.layout = null;
	gparam.geom = null;
    gparam.ultimoToque = 0;
    gparam.inicioToque = 0;
	gparam.mobile = false;
	gparam.safari = false;
	gparam.eventclick = 'click'; //no safari ='touchend'
	gparam.numeroInsercoes = 0;
	gparam.bRotulosCompletos = true;

	
// cria a triangulo da seta.
var createMarker = function(id) {
	return Viva.Graph.svg('marker')
	.attr('id', id)
	.attr('viewBox', '0 0 10 10')
	.attr('refX', '10')
	.attr('refY', '5')
	.attr('markerUnits', 'strokeWidth')
	.attr('markerWidth', '10')
	.attr('markerHeight', '5')
	.attr('orient', 'auto')
	.attr('stroke', 'gray')
	.attr('fill', 'gray');
},

marker = createMarker('Triangle');
marker.append('path').attr('d', 'M 0 0 L 10 5 L 0 10 z');

var defs = graphics.getSvgRoot().append('defs');
	//insere filtro PB
	defs.innerHTML = ' \
		<filter id="filtroPB"> \
		<feColorMatrix \
		  type="matrix" \
		  values="0 1 0 0 0 \
				  0 1 0 0 0 \
				  0 1 0 0 0 \
				  0 1 0 1 0 "/> \
		</filter>\
		<filter id="filtroNegativo"> \
		<feColorMatrix type="matrix" \
		values="-1  0  0 0 0  0 -1  0 0 0 0 0 -1 0 0 1 1 1 0 0"/>\
		</filter>';
defs.append(marker);

graphics.node(function(node) {
	// This time it's a group of elements: http://www.w3.org/TR/SVG/struct.html#Groups
	var ui = Viva.Graph.svg('g'),
	  svgText = Viva.Graph.svg('text').attr('y', String(gparam.tamanhoFonte*1.1 + gparam.nodeSize) + 'px') 
			.attr('x', String(gparam.nodeSize/2)).attr('text-anchor','middle').attr('font-size',gparam.tamanhoFonte+'px'); 
	  var img = Viva.Graph.svg('image');
	  if (!node.data.situacao_ativa) {
		img.attr('filter','url(#filtroPB)');
	  };
	  img.attr('width', gparam.nodeSize)
		 .attr('height', gparam.nodeSize)
		 .link(node.data.imagem);

		var	rect = Viva.Graph.svg('rect')
				.attr('stroke', 'black')
				.attr('stroke-width', 3)		//.attr('stroke-width', 1)			
				.attr('fill', 'transparent') //corFundoImagemF(node)) 
				.attr('width', gparam.nodeSize)
				.attr('height', gparam.nodeSize)
				.attr('visibility', 'hidden');  //hidden or visible
	ui.insertAdjacentHTML('beforeEnd','<title>' + textoTooltip(node, true) + '</title>'); //title deve ser a primeira coisa apos g para funcionar no firefox 48

	var labels = node.data.label.split('\n');
	var identificador = labels[0];
	var nome = '';
	if (labels.length>1) {
		nome = labels[1];
	}
	if (gparam.bRotulosCompletos) {
		var textspan = Viva.Graph.svg('tspan').attr('x', gparam.nodeSize/2).attr('dy', 0).text(identificador);
		svgText.append(textspan);
		var textspan2 = Viva.Graph.svg('tspan').attr('x', gparam.nodeSize/2).attr('dy', gparam.tamanhoFonte*1.1).text(nome);
		svgText.append(textspan2);		
	} else {
		nome = nome.split(' ')[0];
		var textspan = Viva.Graph.svg('tspan').attr('x', gparam.nodeSize/2).attr('dy', 0).text(nome);
		svgText.append(textspan);
		var textspan2 = Viva.Graph.svg('tspan').attr('x', gparam.nodeSize/2).attr('dy', gparam.tamanhoFonte*1.1).text('');
		svgText.append(textspan2);	
	}
	ui.append(svgText);
	ui.append(rect);
	ui.append(img);

	ui.onclick = function(event) {
		if ( event.shiftKey || event.controlKey) {
			event.preventDefault();
			//event.stopPropagation();
			//return true;
		}
	};
	ui.onmouseup = function(event) {
		selecionaNoid(node.id, event.shiftKey);
		event.preventDefault();
		return;
	};
	ui.ondblclick = function(event) {
		if (event.which == 1) {
			selecionaNoid(node.id, false);
			jsonRede(node.id, 1);
			event.preventDefault();
		};
		return;
	}; 
	ui.ontouchstart = function(event) {
		gparam.inicioToque = new Date().getTime();
	};
	ui.ontouchend = function(event) {
		//todo verificar posição
		var currentTime = new Date().getTime();
		var tempoToque = currentTime - gparam.ultimoToque;
		if (tempoToque<500 && tempoToque > 0) {
			//double tab ondblclick
			selecionaNoid(node.id, false);
			jsonRede(node.id, 1);
			event.preventDefault();
		} else {
			var touchLength = currentTime - gparam.inicioToque;
			if (touchLength>=500 && gparam.inicioToque!=0) {
				gparam.inicioToque=0;
				//alert('Menu de contexto não implementado');
				//event.preventDefault();
				//return false;
				return true;
			}
			//single tap onclick
			selecionaNoid(node.id, event.shiftKey);
			event.preventDefault();
		}
		gparam.ultimoToque = currentTime;
		return false;
	};
	return ui;
}).placeNode(function(nodeUI, pos) {
	// 'g' element doesn't have convenient (x,y) attributes, instead
	// we have to deal with transforms: http://www.w3.org/TR/SVG/coords.html#SVGGlobalTransformAttribute
	nodeUI.attr('transform', 'translate(' + (pos.x - gparam.nodeSize/2) + ',' + (pos.y - gparam.nodeSize/2) + ')');
}); //.graphics.node(function(node) 

graphics.link(function(link){
	var label = Viva.Graph.svg('text')
		.attr('id','link_label_'+link.data.id)
		.attr('font-size',gparam.tamanhoFonte+'px')
		.attr('fill',link.data.cor)
		.text(String(link.data.label));
	gparam.idLigacoes[link.data.origem + '\n' + link.data.destino] = link.data.id;
	graphics.getSvgRoot().childNodes[0].append(label);
	
	return Viva.Graph.svg('path')
		.attr('stroke', 'gray')
		.attr('marker-end', 'url(#Triangle)')
		.attr('id', link.data.id);
	}).placeLink(function(linkUI, fromPos, toPos) {
		var toNodeSize = gparam.nodeSize,
		fromNodeSize = gparam.nodeSize;

		var from = gparam.geom.intersectRect(
			fromPos.x - fromNodeSize / 2, // left
			fromPos.y - fromNodeSize / 2, // top
			fromPos.x + fromNodeSize / 2, // right
			fromPos.y + fromNodeSize / 2, // bottom
			fromPos.x, fromPos.y, toPos.x, toPos.y)
		|| fromPos;

		var to = gparam.geom.intersectRect(
			toPos.x - toNodeSize / 2, // left
			toPos.y - toNodeSize / 2, // top
			toPos.x + toNodeSize / 2, // right
			toPos.y + toNodeSize / 2, // bottom
			// segment:
			toPos.x, toPos.y, fromPos.x, fromPos.y)
			|| toPos;

		var data = 'M' + from.x + ',' + from.y + 'L' + to.x + ',' + to.y;
		linkUI.attr("d", data);
		document.getElementById('link_label_'+linkUI.attr('id'))
			.attr("x", (from.x + to.x) / 2)
			.attr("y", (from.y + to.y) / 2);
	}); //.graphics.link(function(link)

function textoTooltip(node, todoTexto){ // se todoTexto=false, exibe apenas dados dos marcadores
	var LF = String.fromCharCode(10);
	var texto = node.id;
	if (node.id.startsWith('PJ_')) {
		texto += LF + node.data.descricao + LF + node.data.logradouro + LF + node.data.municipio + '/' + node.data.uf;
	} else if (node.id.startsWith('PF_')) {	}
	return texto;
}

function selecionaNoid(nodeid, shift_pressionado) {
	// ativa retângulo em torno do ícone do nó.
	// se o shift está pressionado, pode ter mais de um nó
	// quando node=null e shift_pressionado=false, remove todos os nós da seleção.
	var nodeEstavaSelecionado = false;
	if (nodeid) {
		nodeEstavaSelecionado = gparam.idNosSelecionados.has(nodeid);
	} else {
		for (let n of gparam.idNosSelecionados) {
			graphics.getNodeUI(n).getElementsByTagName('rect')[0].setAttribute('visibility', 'hidden');  //hidden or visible)		
		}
		gparam.idNosSelecionados = new Set(); 
		gparam.idnoSelecionado = null;
		return;
	}
	if (shift_pressionado) {
		if (nodeEstavaSelecionado) {
			gparam.idnoSelecionado = null;
			gparam.idNosSelecionados.delete(nodeid);
			graphics.getNodeUI(nodeid).getElementsByTagName('rect')[0].setAttribute('visibility', 'hidden');
		} else {
			gparam.idnoSelecionado = nodeid;
			gparam.idNosSelecionados.add(nodeid);
			graphics.getNodeUI(nodeid).getElementsByTagName('rect')[0].setAttribute('visibility', 'visible');
		}
	} else {
		for (let n of gparam.idNosSelecionados) {
			graphics.getNodeUI(n).getElementsByTagName('rect')[0].setAttribute('visibility', 'hidden');  //hidden or visible)		
		}
		gparam.idNosSelecionados = new Set(); 
		gparam.idnoSelecionado = nodeid;
		if (nodeid) {
			graphics.getNodeUI(nodeid).getElementsByTagName('rect')[0].setAttribute('visibility', 'visible');  //hidden or visible)
			gparam.idNosSelecionados.add(nodeid);
			gparam.idnoSelecionado = nodeid;
		}
	}
	//ajusta menu contextual
	//ajustaMenuContextual(nodeid);
	return;
}

function ajustaMenuContextual(nodeid) {
	gdebug = nodeid;
	if (nodeid) {
		if (nodeid.startsWith('PJ_')) {
			var descricao = graph.getNode(nodeid).data.descricao;
			document.getElementById('mc_titulo').label = nodeid + '-' + descricao.substr(0,30);
		} else {
			document.getElementById('mc_titulo').label = nodeid;
		}
	} else {
		document.getElementById('mc_titulo').label = '';
	}
}

function localizaNo(texto) { //retorna n. de nos localizados
	var t = texto.toUpperCase(); 
	var idNosLocalizados= new Set(); 
	var primeiroNoid = null;
	graph.forEachNode(function(node){
		if ((node.id.search(t)!= -1) || (node.data.descricao.search(t)!=-1)) {
			idNosLocalizados.add(node.id);
			if (!primeiroNoid) {
				primeiroNoid = node.id;
			}
		}
	});
	if (idNosLocalizados.size) {
		selecionaNoid(null, false); //apaga seleção primeiro
		for (let n of idNosLocalizados) {
			graphics.getNodeUI(n).getElementsByTagName('rect')[0].setAttribute('visibility', 'visible'); 
			gparam.idNosSelecionados.add(n);
		}
		gparam.idnoSelecionado = primeiroNoid;
		ajustaMenuContextual(gparam.idnoSelecionado);
		//var position = gparam.renderer.getLayout().getNodePosition(gparam.idnoSelecionado);
		var position = gparam.layout.getNodePosition(gparam.idnoSelecionado);
		gparam.renderer.moveTo(position.x,position.y);
		return gparam.idNosSelecionados.size;
	} else {
		return 0;
	}
}

function menu_localiza() {
	menu_rendererAtivarParar(false);
	ativaAtalhos(false);
	alertify.prompt( 'Localizar item na tela', 'Digite partes do Nome, CNPJ ou CPF', ''
	   , function(evt, texto) { 
			ativaAtalhos(true);
			if (texto) { 
				contagem = localizaNo(texto);
				if (contagem) {
					alertify.success('Localizou '+ contagem + ' ocorrencias(s) de ' + texto);
				} else {
					alertify.error('Não localizou ' + texto);
				};
				menu_rendererAtivarParar(true);
			}
		}, function() { ativaAtalhos(true);
			menu_rendererAtivarParar(true);
		});
}

function menu_rendererAtivarParar(bAtivar) {
	if (!bAtivar) {
		gparam.renderer.pause();
		alertify.success('O leiaute foi pausado. Para ativar, pressione SHIFT+Q.');
	} else {
		gparam.renderer.resume();
		alertify.success('O leiaute foi reiniciado. Para parar, pressione Q.') 
	}
}

function removeIdNo(noId) { 
	//remover o nó da lista de nós
	//remover ligações que partem do nó e que chegam ao nó
	//procura label do link para remover
	graph.forEachLinkedNode(noId, function(nodeaux, link){
		var linkUIaux=null;
		try {
			linkUIaux = graphics.getLinkUI(link.id);
			element=document.getElementById('link_label_'+linkUIaux.attr('id'));
			element.parentNode.removeChild(element);
		} catch (e){; };
	});
	graph.removeNode(noId);
	//remove no da lista de selecionados
	gparam.idNosSelecionados.delete(noId);
}

function menu_excluirNosSelecionados() {
	if (!gparam.idNosSelecionados.size) {
		alertify.alert('Exclusão', 'Não há itens selecionados para exclusão. Selecione e tente novamente.', function(){ ; });
		return;
	}
	var tmensagem = (gparam.idNosSelecionados.size==1) ? 'Excluir 1 nó.' : ('Excluir '+ gparam.idNosSelecionados.size + ' nós selecionados.');
	var tsucesso = (gparam.idNosSelecionados.size==1) ? '1 nó foi excluído.' : (gparam.idNosSelecionados.size + ' nós foram excluídos.');
	alertify.confirm(tmensagem, 'Deseja prosseguir? Não será possível reverter a exclusão.', 
			function(){ 
				for (let n of gparam.idNosSelecionados) {
					removeIdNo(n);
				}			
				alertify.success(tsucesso);
			}
            , function(){ ;}
	);
}

function menu_excluirTudo() {
	var setNos = new Set();
	graph.forEachNode( function(node) { 
		setNos.add(node.id);
	});
	alertify.confirm('Excluir todos os '+ setNos.size +  ' nós.', 'Deseja prosseguir? Não será possível reverter a exclusão.', 
			function(){ 
				for (let n of setNos) {
					removeIdNo(n);
				}			
				alertify.success(setNos.size + ' nós foram excluídos.') 
			}
            , function(){ ;}
	);
}

function menu_inserirDesfazer() {
	var idNosInseridos = gparam.listaIdNosInseridos.pop();
	if (!idNosInseridos) return;
	var tam = idNosInseridos.size;
	for (let n of idNosInseridos) {
		removeIdNo(n);
	}
	var tmensagem = (tam==1 ? 'Foi removido um nó.' : ('Foram removidos ' + tam + ' nós.'))
	alertify.success(tmensagem);
}

function menu_dados() {
	var idin = gparam.idnoSelecionado;
	if (!idin) return;
	var url = "/rede/dadosdetalhes/" + idin ;
	fetch(url, {method: 'get', mode: 'cors',})
	  .then(
		function(response) {
		  if (response.status !== 200) {
			console.log('Looks like there was a problem. Status Code: ' +  response.status);
			alertify.error('Aconteceu um erro (' +  response.status + ')');
			return;
		  }
		  // Examine the text in the response
		  response.json().then(function(data) {
			//console.log(data);
			var texto = "";
			gparam.json = data;
			//for (var i of Object.entries(gparam.json)) {
			//	texto += '<b>' + i[0] + ':<b> ' + i[1] + '<br> '; }
			if (data) {
				//document.getElementById("corpo").disabled = true; 
				alertify.alert("Dados de "+gparam.idnoSelecionado, data, function(){});
			} else {
				alertify.success('Sem dados disponíveis para ' + idin);
			}
		  });
		}
	  )
	  .catch(function(err) {
		console.log('Fetch Error :-S', err);
		alertify.error('Aconteceu um erro (Fetch error ' + err + ')');
	  });
}

function menu_dadosNovaJanela() {
	if (!gparam.idnoSelecionado) return;
	if (gparam.idnoSelecionado.startsWith('PJ_')) { 
		var win = window.open('/rede/dados_janela/'+gparam.idnoSelecionado, gparam.idnoSelecionado,'resizable,scrollbars,status,menubar=no, toolbar=no, personalbar=no, location=no, titlebar=0, height=500, width=400');
	} else {
		alertify.success('Sem dados disponíveis para ' + gparam.idnoSelecionado);
	}
}

function insereJson(jsonIn, texto) {
	var no = jsonIn.no;
	var ligacao = jsonIn.ligacao;
	gparam.json = JSON.parse(JSON.stringify(jsonIn));
	var kn=0, kl=0;
	var idNosInseridos = new Set();
	var idNosCamadaZero = new Set();
	var kNosAInserir = 0;
	for (let noaux of Object.values(no)) { //verifica quantos nós serão inseridos
		if (!graph.hasNode(noaux.id)) { 
			kNosAInserir += 1;
		}
	}
	if (kNosAInserir > gparam.confirmaAntesDeInserirNNos) {
		let mensagem = 'Deseja inserir ' + kNosAInserir + ' itens?';
		if (kNosAInserir>1000) mensagem += '\nObs: Com muitos itens a execução ficará muito lenta ou o browser poderá travar.';
		var resp = confirm(mensagem);
		if (!resp) {
			return;
		}
		gparam.confirmaAntesDeInserirNNos = kNosAInserir;
	}
	for (let noaux of Object.values(no)) {
		if (!graph.hasNode(noaux.id)) { 
			graph.addNode(noaux.id, JSON.parse(JSON.stringify(noaux)));
			kn += 1;
			idNosInseridos.add(noaux.id);
			if (!noaux.camada) {
				idNosCamadaZero.add(noaux.id);
			}
		}
	}
	if (idNosInseridos.size) {
		gparam.listaIdNosInseridos.push(idNosInseridos);
	}

	for (let ligaux of Object.values(ligacao)) {
		//console.log(ligaux.origem);
		if (!graph.hasLink(ligaux.origem, ligaux.destino)) { 
			ligaux.id = gparam.kligacoes;
			
			if ((graph.hasNode(ligaux.origem)) && (graph.hasNode(ligaux.origem))) {
				try { //dá erro com a rede de teste
					graph.addLink(ligaux.origem, ligaux.destino, JSON.parse(JSON.stringify(ligaux)));
					kl += 1;
					gparam.kligacoes = gparam.kligacoes + 1;
				} catch (e) {
					console.log('erro na ligacao' + texto);
					console.log(e);
					console.log(JSON.parse(JSON.stringify(ligaux)));
				}
			} else {
				console.log('faltando um dos nós da ligação.');
				console.log(JSON.parse(JSON.stringify(ligaux)));
			}
		}
	}
	if (idNosCamadaZero.size) {
		selecionaNoid(null, false); //desseleciona tudo
		for (let n of idNosCamadaZero) {
			selecionaNoid(n, true);
		}
	} 
	
	var textoMensagem = texto;
	if (kn)	textoMensagem += 'Foram inseridos ' + kn + ' cpfs/cnpjs';
	if (kl) {
		if (kn) {
			textoMensagem += ' e ' + kn + ' ligações.';
		} else {
			textoMensagem += 'Foram inseridos ' + kl + ' ligações.'
		}
	}
	if ((!kn) && (!kl)) textoMensagem += 'Não encontrou novos itens';
	
	if (jsonIn.mensagem_popup) {
		alertify.alert('Alerta!', jsonIn.mensagem_popup, function(){ alertify.success(textoMensagem); });
	} else {
		alertify.success(textoMensagem);
	}
	if (jsonIn.mensagem_lateral) {
		alertify.success(jsonIn.mensagem_lateral);
	}
}

function jsonRede(idin, camada) {
	var url = "";
	idin = idin.replace(/\//g, '');
	if (!idin) {
		return;
	}
	url = "/rede/grafojson/" + idin  + "/" + camada ;
	document.body.style.cursor = 'wait';
	fetch(url, {method: 'get', mode: 'cors',})
	  .then(
		function(response) {
		  if (response.status !== 200) {
		  	document.body.style.cursor = 'default'
			console.log('Looks like there was a problem. Status Code: ' +  response.status);
			alertify.error('Aconteceu um erro (' +  response.status + ')');
			return;
		  }
		  // Examine the text in the response
		  response.json().then(function(data) {
			//console.log(data);
			document.body.style.cursor = 'default'
			insereJson(data, idin + ' em camada ' + camada +'. ');
		  });
		}
	  )
	  .catch(function(err) {
	    document.body.style.cursor = 'default'
		console.log('Fetch Error :-S', err);
		alertify.error('Aconteceu um erro (Fetch error ' + err + ')');
	  });
}

function menu_inserir() {
	//var cn = prompt('Digite CNPJ ou CPF-Nome, ou vários CNPJs separados por ;');
	var camada = 0;
	ativaAtalhos(false);
	alertify.prompt( 'Inserir item no gráfico', 'Digite CNPJ, Razão Social ou Nome completo do Sócio, Nome-sócio (formato PF_***12345**-NOME) ou vários CNPJs separados por ponto e virgula (;). Para visualizar um cnpj aleatório, digite TESTE', gparam.inserirDefault
               , function(evt, cnpjs) { 
					var cn = cnpjs.trim().toUpperCase();
					if (cn) { 
						if (cn=='T') {
							cn='TESTE';
						}
						if (cn=='TESTE') {
							if (gparam.numeroInsercoes==0) { //se for primeira insercao de teste, já coloca camada 2 
								camada = 1;
							}
						}
						if (camada==0) {
							camada = prompt('Quantidade de Camadas (ou Níveis da consulta)', 1);
						}
						if (camada) {
							jsonRede(cn, camada);
							gparam.numeroInsercoes += 1;
						}
					}
					ativaAtalhos(true);
				}, function() { ativaAtalhos(true);}
	);
}

function menu_buscaEmSite(siteUrl){
	var strUrl = siteUrl + '"' + graph.getNode(gparam.idnoSelecionado).data.descricao + '"';		
	//if (strUrl == '') { return; }
	var novaJanela=window.open(strUrl);
	novaJanela.focus();
};

function menu_GoogleMaps() {
	var data = graph.getNode(gparam.idnoSelecionado).data;
	if (data.logradouro) {
		var strUrl = 'https://www.google.com.br/maps/place/' + data.logradouro + ',' + data.municipio + '/' + data.uf;
		var novaJanela=window.open(strUrl);
		novaJanela.focus();
	} else {
		alertify.error('Não há endereço cadastrado.');
	}
}

function menu_abrirNovaAba(bAbreVazio) {
	var novaJanela=null;
	if (bAbreVazio) {
		novaJanela=window.open("/rede/");
		novaJanela.focus(); 
		return;
	}
	var strUrl = "/rede/grafico/" + gparam.idnoSelecionado+ "/";
	ativaAtalhos(false);
	alertify.prompt( 'Abrir ' + gparam.idnoSelecionado+  ' em nova aba', 'Selecione camadas', '1', 
		function(evt, cam) { 	
			ativaAtalhos(true);
			novaJanela=window.open(strUrl+cam);
			novaJanela.focus();} , 
		function() { ativaAtalhos(true);}	) ;
}

function menu_pinarNo(){
	//var layout = gparam.renderer.getLayout();
	var layout = gparam.layout;
	var no = graph.getNode(gparam.idnoSelecionado);
	layout.pinNode(no, !layout.isNodePinned(no));
};

function evento_teclasDown(e) {
	if (e.code.startsWith('Digit') && (e.code.length==6)) {
		var ns = e.code.substr(-1);
		if (('0' <= ns) && (ns <='9')) {
			if (ns=='0') {
				jsonRede(gparam.idnoSelecionado, 10);
			} else {
				jsonRede(gparam.idnoSelecionado, parseInt(ns));
			}
			e.preventDefault();
			return;
		}
	} else if (e.ctrlKey && (e.code=='KeyZ')) {
		menu_inserirDesfazer();
	} else if (e.code=='KeyF') {
		menu_localiza();
	} else if (e.code=='KeyI') {
		menu_inserir();
	} else if ((!e.shiftKey) && (e.code=='KeyD')) {
		menu_dados();
	} else if ((e.shiftKey) && (e.code=='KeyD')) {
		menu_dadosNovaJanela();
	} else if ((!e.shiftKey) && (e.code=='KeyA')) {
		menu_abrirNovaAba(false);
	} else if ((e.shiftKey) && (e.code=='KeyA')) {
		menu_abrirNovaAba(true);
	} else if ((!e.shiftKey) && (e.code=='KeyG')) {
		menu_buscaEmSite('https://www.google.com/?#q=');;
	} else if ((e.shiftKey) &&(e.code=='KeyG')) {
		menu_GoogleMaps('https://www.google.com/?#q=');;
	} else if (e.code=='KeyJ') {
		menu_buscaEmSite('http://www.jusbrasil.com.br/diarios/busca?q=');;
	} else if (e.code=='KeyN') {
		menu_rotulosCompletos(!gparam.bRotulosCompletos);
	} else if (e.code=='KeyL') {
		menu_localiza();
	} else 	if (e.code=='Delete') {
		menu_excluirNosSelecionados();
	} else 	if (e.code=='KeyP') {
		menu_pinarNo();
	} else 	if ((!e.shiftKey) && (e.code=='KeyQ')) {
		menu_rendererAtivarParar(false);
	} else 	if ((e.shiftKey) && (e.code=='KeyQ')) {
		menu_rendererAtivarParar(true);
	} else {
		return;
	} 
	e.preventDefault();
}

function menu_rotulosCompletos(bCompleto) { 
	gparam.bRotulosCompletos = bCompleto;
	graph.forEachNode( function(node) {
		var ui=graphics.getNodeUI(node.id); 
		var labels = node.data.label.split('\n');
		var identificador = labels[0];
		var nome = '';
		if (labels.length>1) {
			nome = labels[1];
		}
		if (gparam.bRotulosCompletos) {
			ui.getElementsByTagName('tspan')[0].text(identificador);
			ui.getElementsByTagName('tspan')[1].text(nome);
		} else {
			nome = nome.split(' ')[0];
			ui.getElementsByTagName('tspan')[0].text(nome);
			ui.getElementsByTagName('tspan')[1].text('');
		}			
	});
}

function ativaAtalhos(bcaptura) {
	// é preciso desativar antes de usar o alertify.prompt
	if (gparam.mobile) {
		return;
	}
	if (bcaptura) {
		document.onkeydown = evento_teclasDown;
	} else {
		document.onkeydown = null;
	}
}


function saveTextAsFile(textToSave, nomeArquivo, mime) {   //salva arquivo texto sem precisar mandar para o servidor.
	var textToSaveAsBlob = new Blob([textToSave], mime); //{type:"text/plain"});
	var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
	var fileNameToSaveAs = nomeArquivo; 
	var downloadLink = document.createElement("a");
	downloadLink.download = fileNameToSaveAs;
	downloadLink.innerHTML = "Download File";
	downloadLink.href = textToSaveAsURL;
	downloadLink.onclick = function (event) {document.body.removeChild(event.target);} ;
	downloadLink.style.display = "none";
	document.body.appendChild(downloadLink);
	downloadLink.click();
}
function destroyClickedElement(event){
	document.body.removeChild(event.target);
}

function exportaJsonParaDownload() {
	//var dadosJSON = JSON.stringify({'no':['1','2'], 'ligacao':[]});;
	var iframeAuxiliar = document.getElementById('iframeAuxiliarDownload');
	var idArray = [];
	if (iframeAuxiliar.exportaSoSelecionados) {
		idArray = [...gparam.idNosSelecionados];
	} else {
		graph.forEachNode( function(node) {
				idArray.push(node.id);
			}
		);
	}
	var dadosJSON = JSON.stringify(idArray); //não aceita stringify de set
	var mime={type:"application/json"};
	var formato = 'xlsx';
	//mime = {type:"application/octet-stream"};
	iframeAuxiliar.onload = null;
	var iframeDocumento = iframeAuxiliar.contentDocument || iframeAuxiliar.contentWindow.document;
	var form = iframeDocumento.getElementById('formDownload');
	form.dadosJSON.value = dadosJSON;
	form.action = "/rede/dadosemarquivo/xlsx" ;
	form.submit();
}

function menu_exporta(bSoSelecionados) {
	var formato='xlsx';
	var iframeAuxiliar = document.getElementById('iframeAuxiliarDownload');
	iframeAuxiliar.onload = exportaJsonParaDownload;
	iframeAuxiliar.src = '/rede/formdownload.html';
	iframeAuxiliar.exportaSoSelecionados = bSoSelecionados;
}

function menu_zoomin() {
	menuOnClick() //firefox no android, não está fechando o menu
	var vezes = gparam.mobile?6:3;
	var escalamax = gparam.mobile?8:2;
	if (gparam.renderer.getTransform().scale>escalamax) {
		return;
	}
	for(var k=0; k<vezes; k++) {
		var escala = gparam.renderer.zoomIn();
		if (escala>escalamax) {
			break;
		}
	}
}

function menu_zoomout() {
	menuOnClick() //firefox no android, não está fechando o menu
	var vezes = gparam.mobile?6:2;
	for(var k=0; k<vezes; k++) {
		var escala = gparam.renderer.zoomOut();;
	}
}
//menu contextual
var menu = null;
function showMenu(x, y){
    menu.style.left = x + 'px';
    menu.style.top = y + 'px';
    menu.classList.add('show-menu');
}
function hideMenu(){
	//menu.classList.contains('show-menu') //para verificar
    menu.classList.remove('show-menu');
}
function onContextMenu(e){
	e.preventDefault();
    showMenu(e.pageX, e.pageY);
    document.addEventListener(gparam.eventclick, menuOnClick, false);

}
function menuOnClick(e){
	//devido a inconsistência no firefox e chrome no android, foi colocado menuOnClick(); antes de todos os comandos do menu
    hideMenu();
    document.removeEventListener(gparam.eventclick, menuOnClick);
}

function menu_botao(event) {
	event.preventDefault();
	// menu funciona no chrome do android mas não no firefox (não fecha o menu)
	showMenu(10,25);
	setTimeout(function(){
        document.addEventListener(gparam.eventclick, menuOnClick, false);
	},1000);
	event.preventDefault();
	return false;
}
//.menu contextual

alertifyfake = {
	'prompt':function(titulo, texto, valor, func1, func2) {
		menuOnClick(); //firefox no android, não está fechando o menu
		var resp = 	prompt(titulo+'\n'+texto, valor);
		if (resp) {
			func1(null, resp);
		} else {
			func2();
		};
	},
	'confirm':function(titulo, texto, func1,func2) {
		menuOnClick();
		var resp = confirm(titulo + '\n' + texto);
		if (resp) {
			func1();
		} else {
			func2();
		}
	},
	'alert':function(titulo, texto, func) {
		menuOnClick();
		texto = texto.replace(/<b>/g, '').replace(/<\/b>/g, '').replace(/<br>/g, '')
		setTimeout(function(){ alert(titulo + '\n\n' + texto);}, 500);	
	},
	'success':function(texto) {
		menuOnClick();
		setTimeout(function(){ alert(texto);}, 500);
	},
	'error':function(texto) {
		menuOnClick();
		setTimeout(function(){ alert('ERRO!!! ' + texto); }, 500);
	}
}

function main() {
	gparam.mobile = false;
	if (gparam.mensagemInicial) {
		alert(gparam.mensagemInicial);
	}
	if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){ //mobile
		//mobile. gambiarra, o alertify não funciona no ipad, no android fica muito pequeno
		alertify.set('notifier','position', 'top-center'); //se fica de lado, os alertas não aparecem no mobile
		gparam.mobile = true;
		gparam.inserirDefault = 'TESTE'; //como é dificil digitar no mobile, coloca um valor padrão
		if (/Android/i.test(navigator.userAgent)) { //android
			//no android, tenta usar menu contextual. Aumenta o tamanho do menu para poder visualizar.
			//document.getElementsByClassName('menu')[0].style.scale=2;
			document.querySelectorAll('.menu-btn').forEach(function(element,key) {element.style.fontSize='30px'});
			document.querySelectorAll('.menu-text').forEach(function(element,key) {element.style.marginLeft='50px'});
			document.querySelector('.menu').style.width='500px';
			menu = document.querySelector('.menu');
			document.querySelector('body').style.fontSize='xx-large'; //para alterar tamanho do texto no alertify
			for (let botao of document.getElementsByClassName('botaosuperior')) { 
				botao.style.fontSize = '60px'; //="font-size:60px;";
			}	
		} else 	{ //safari
			gparam.safari = true;
			alertify.prompt = alertifyfake.prompt;
			alertify.confirm = alertifyfake.confirm;
			alertify.alert = alertifyfake.alert; 
			//alertify.success = alertifyfake.success;
			//alertify.error = alertifyfake.error;	
			//safari, trocar onclick por ontouchend nos botoes
    		var botoes = document.getElementsByClassName('botaosuperior');
    		for (var i=0; i<botoes.length; i++) { //ipad antigo não aceita let
    			botoes[i].ontouchend=botoes[i].onclick;
    		}
    		document.querySelectorAll('.menu-btn').forEach( function(element,key) {element.ontouchend = element.onclick;});
			menu = document.querySelector('.menu');
			gparam.eventclick = 'touchend';
			//no safari, redimensiona botoes por css
			document.querySelectorAll('.menu-btn').forEach(function(element,key) {element.style.fontSize='10px'});
			document.querySelectorAll('.menu-text').forEach(function(element,key) {element.style.marginLeft='40px'});
			document.querySelector('.menu').style.width='300px';
			//document.getElementById('botaoDadosBasicos').ontouchend = "";
		} 
		alert('Isto não funciona corretamente no celular ou tablet... Se der erro, tente em um computador com o Firefox, Chrome ou Edge.');
	} else { //desktop
		document.getElementById('btn_github').textContent="Rede-CNPJ no Github";
		document.getElementById('btn_srf').textContent="Dados Públicos da Receita Federal";	
		menu = document.querySelector('.menu');
		document.addEventListener('contextmenu', onContextMenu, false); //menu contextual em toda a tela
	}

	gparam.layout = Viva.Graph.Layout.forceDirected(graph, {
		   springLength : 140, //80,
		   springCoeff : 0.0002, //0.0002,
		   dragCoeff : 0.02, 
		   gravity : -1.2, 
		   theta : 0.8
	});
	gparam.renderer = Viva.Graph.View.renderer(graph, {
			graphics : graphics,
			layout: gparam.layout
		});
	gparam.renderer.run();
	gparam.geom = Viva.Graph.geom();
	if (gparam.mobile) {
		menu_zoomin();
		menu_zoomin();
	}
	if (gparam.cpfcnpjInicial) {
		jsonRede(gparam.cpfcnpjInicial, gparam.camadaInicial);
		ativaAtalhos(true);
	} else {
		menu_inserir();
	}
} //.main()

</script>

<style type="text/css" media="screen"> 
	html, body, svg { width: 100%; height: 100%;
	/* para acertar texto dos botoes no safari */
	-ms-text-size-adjust: 200%;
	-webkit-text-size-adjust: 200%;
	}
</style>
</head>
<body id='corpo' onload='main()' style='overflow:hidden;'>
<!-- overflow:hidden para não aparecer barra de rolagem -->
<div id='div_botoes'>
<button class='botaosuperior' type="button" onclick="javascript:menu_botao(event);" title='Abre opções'>Menu</button>&nbsp;&nbsp;
<button class='botaosuperior' id='btn_github' type="button" onclick="window.open('https://github.com/rictom/rede-cnpj/')"  title='Abre o projeto no Github'>Rede</button>	&nbsp;&nbsp;
<button class='botaosuperior' id='btn_srf' type="button" onclick="window.open('https://receita.economia.gov.br/orientacao/tributaria/cadastros/cadastro-nacional-de-pessoas-juridicas-cnpj/dados-publicos-cnpj/')" title='Página de dados públicos da SRF'>Dados</button>&nbsp;&nbsp;
<button class='botaosuperior' type="button" onclick="javascript:menu_zoomin();" title='Aumenta visualização. A roda do mouse também faz isso.'>&nbsp;+&nbsp;</button>&nbsp;
<button class='botaosuperior' type="button" onclick="javascript:menu_zoomout();" title='Diminui visualização.  A roda do mouse também faz isso.'>&nbsp;-&nbsp;</button>
</div>
<menu id='menu_contexto' class="menu">
  <li class="menu-item">
	<button type="button" class="menu-btn" onclick="menuOnClick(); javascript:jsonRede(gparam.idnoSelecionado, 1);"> <i class="fa fa-layer-group"></i>
	<span class="menu-text">Incluir uma Camada</span> </button>
  </li>
  <li class="menu-item submenu">
    <button type="button" class="menu-btn"> <i class="fa fa-layer-group"></i> <span class="menu-text">Incluir mais camadas</span> </button>
    <menu class="menu">
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:jsonRede(gparam.idnoSelecionado, 2);"> <span class="menu-text">2</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:jsonRede(gparam.idnoSelecionado, 3);"> <span class="menu-text">3</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:jsonRede(gparam.idnoSelecionado, 4);"> <span class="menu-text">4</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:jsonRede(gparam.idnoSelecionado, 5);"> <span class="menu-text">5</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:jsonRede(gparam.idnoSelecionado, 6);"> <span class="menu-text">6</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:jsonRede(gparam.idnoSelecionado, 7);"> <span class="menu-text">7</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:jsonRede(gparam.idnoSelecionado, 8);"> <span class="menu-text">8</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:jsonRede(gparam.idnoSelecionado, 9);"> <span class="menu-text">9</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:jsonRede(gparam.idnoSelecionado, 10);"> <span class="menu-text">10</span> </button>
      </li>
    </menu>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_inserir();"> 
      <i class="fa fa-plus"></i> <span class="menu-text">Inserir CNPJ ou CPF (I)</span> 
    </button>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_inserirDesfazer();"> 
      <i class="fa fa-undo"></i> <span class="menu-text">Desfazer Inserção (Ctrl+Z)</span> 
    </button>
  </li>
  <li class="menu-item">
    <button id='botaoDadosBasicos' type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_dados()"><i class="fa fa-newspaper"></i> <span class="menu-text">Dados (D)</span> </button>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" id="mc_titulo" onclick="menuOnClick(); javascript:menu_dadosNovaJanela()">
      <i class="fa fa-folder-open"></i> 
      <span class="menu-text">Dados em Janela (Shift+D)</span>
    </button>
  </li>
  <li class="menu-item submenu">
   <button type="button" class="menu-btn"> <i class="fa fa-file-excel"></i> <span class="menu-text">Exportar em Excel</span> </button>
    <menu class="menu">
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_exporta(true)"> 
          <i class="fa fa-file-excel"></i><span class="menu-text">Itens Selecionados</span> 
        </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_exporta(false)"> 
          <i class="fa fa-file-excel"></i><span class="menu-text">Todos</span> 
        </button>
      </li>
	</menu>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_localiza();"> 
      <i class="fa fa-search"></i> <span class="menu-text">Localizar CNPJ ou CPF (L)</span> 
    </button>
  </li>
  <li class="menu-item submenu">
    <button type="button" class="menu-btn"> <i class="fa fa-users"></i> <span class="menu-text">Busca em sites</span> </button>
    <menu class="menu">
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_buscaEmSite('https://www.google.com/search?q=');"> 
          <i class="fab fa-google"></i><span class="menu-text" style="margin-left:12px">Google (G)</span> 
        </button>
	  </li>
	  <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_GoogleMaps();"> 
          <i class="fab fa-google"></i><span class="menu-text" style="margin-left:12px">Google Maps(Shift+G)</span> 
        </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_buscaEmSite('http://www.jusbrasil.com.br/diarios/busca?q=');"> 
          <i class="fa fa-balance-scale"></i><span class="menu-text">JusBrasil (J)</span> 
        </button>
      </li>
    </menu>
  </li>
  <li class="menu-item submenu">
    <button type="button" class="menu-btn">  <span class="menu-text">Rótulos</span> </button>
    <menu class="menu">
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); menu_rotulosCompletos(true);"> 
          <span class="menu-text" style="margin-left:12px">Nome Completo</span> 
        </button>
	  </li>
	  <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); menu_rotulosCompletos(false);"> 
          <span class="menu-text" style="margin-left:12px">Só Primeiro Nome</span> 
        </button>
      </li>
    </menu>
  </li>

  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_abrirNovaAba(false)"> <i class="fa fa-external-link-alt"></i> <span class="menu-text">Gráfico em nova aba (A)</span> </button>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_pinarNo();"> 
      <i class="fa fa-thumbtack"></i> <span class="menu-text" alt="Fixa/Desfixa nó na posição do mapa, não sendo afetado pelo arrastamento de outros nós">Fixar o Nó (P)</span> 
    </button>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="menuOnClick(); gparam.renderer.reset();"> 
      <i class="fa fa-compress"></i> <span class="menu-text" alt="Reinicia escala">Escala Inicial</span> 
    </button>
  </li>
  <!--
  <li class="menu-item submenu">

    <button type="button" class="menu-btn"> <i class="fa fa-project-diagram"></i> <span class="menu-text">Leiaute</span> </button>
  
    <menu class="menu">  -->
  <li class="menu-item">
	<button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_rendererAtivarParar(false);"> 
	  <i class="fa fa-stop"></i> <span class="menu-text">Leiaute: Parar (Q)</span> 
	</button>
  </li>
  <li class="menu-item">
	<button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_rendererAtivarParar(true);"> 
	  <i class="fa fa-play"></i> <span class="menu-text">Leiaute: Continuar (Shift+Q)</span> 
	</button>
  </li>

  <li class="menu-separator"></li>

  <li class="menu-item submenu">
    <button type="button" class="menu-btn"> <i class="fa fa-trash"></i> <span class="menu-text">Excluir</span> </button>
    <menu class="menu">
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_excluirNosSelecionados()"> 
          <i class="fa fa-trash"></i> <span class="menu-text">Excluir Nós selecionados (Del)</span> 
        </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="menuOnClick(); javascript:menu_excluirTudo()"> 
          <i class="fa fa-trash"></i> <span class="menu-text">Excluir Tudo</span> 
        </button>
      </li>
    </menu>
  </li>
  
    <li class="menu-separator"></li>
	<li class="menu-item">
		<button type="button" class="menu-btn" onclick="menuOnClick(); window.open('https://github.com/rictom/rede-cnpj'); "> 
		  <i></i> <span class="menu-text">Sobre...</span> 
		</button>
	</li>
</menu>

<iframe id="iframeAuxiliarDownload" src="" onload="" style="display:none"></iframe>

</body>
</html>
