<!DOCTYPE html>
<html>
<head>
<title>Rede</title>
<link rel="shortcut icon" href="/static/imagem/favicon.ico" type="imagem/x-icon">
<link rel="icon" href="/static/imagem/favicon.ico" type="imagem/x-icon">
<script type="text/javascript" src="/static/vivagraph/vivagraph.js"></script>
<script type="text/javascript" src="/static/alertify/alertify.js"></script>
<link  rel="stylesheet" href="/static/alertify/css/alertify.css" /><link  rel="stylesheet" href="/static/alertify/css/themes/default.css" />
<!-- https://www.cssscript.com/beautiful-multi-level-context-menu-with-pure-javascript-and-css3/ -->
<link rel="stylesheet" href="/static/menu/font-awesome_5.14.0_css_all.min.css">
<link rel="stylesheet" href="/static/menu/menu.css">
	
<script type="text/javascript">

// http://jsfiddle.net/ibigd/z7ymfpmm/
var graph = Viva.Graph.graph();

var graphics = Viva.Graph.View.svgGraphics();
var gparam = {};
	gparam.nodeSize = 24;
	gparam.tamanhoFonte = 10;
	gparam.kligacoes = 0;
	gparam.idLigacoes = {};
	gparam.idnoSelecionado = null;
	gparam.idNosSelecionados = new Set();
	//gparam.idNosInseridos = new Set();
	gparam.listaIdNosInseridos = [];
	gparam.cpfcnpjInicial = "{{cpfcnpjInicial}}";
	gparam.camadaInicial= {{ camadaInicial }};
	gparam.confirmaAntesDeInserirNNos = 100;
	gparam.renderer = null,
	gdebug = null;
	
// cria a triangulo da seta.
var createMarker = function(id) {
	return Viva.Graph.svg('marker')
	.attr('id', id)
	.attr('viewBox', '0 0 10 10')
	.attr('refX', '10')
	.attr('refY', '5')
	.attr('markerUnits', 'strokeWidth')
	.attr('markerWidth', '10')
	.attr('markerHeight', '5')
	.attr('orient', 'auto')
	.attr('stroke', 'gray')
	.attr('fill', 'gray');
},

marker = createMarker('Triangle');
marker.append('path').attr('d', 'M 0 0 L 10 5 L 0 10 z');

var defs = graphics.getSvgRoot().append('defs');
	//insere filtro PB
	defs.innerHTML = ' \
		<filter id="filtroPB"> \
		<feColorMatrix \
		  type="matrix" \
		  values="0 1 0 0 0 \
				  0 1 0 0 0 \
				  0 1 0 0 0 \
				  0 1 0 1 0 "/> \
		</filter>\
		<filter id="filtroNegativo"> \
		<feColorMatrix type="matrix" \
		values="-1  0  0 0 0  0 -1  0 0 0 0 0 -1 0 0 1 1 1 0 0"/>\
		</filter>';
defs.append(marker);
	  
	  
var geom = Viva.Graph.geom();

graphics.node(function(node) {
	// This time it's a group of elements: http://www.w3.org/TR/SVG/struct.html#Groups
	var ui = Viva.Graph.svg('g'),
	  svgText = Viva.Graph.svg('text').attr('y', String(gparam.tamanhoFonte*1.1 + gparam.nodeSize) + 'px') 
			.attr('x', String(gparam.nodeSize/2)).attr('text-anchor','middle').attr('font-size',gparam.tamanhoFonte+'px'); 
	  var img = Viva.Graph.svg('image');
	  if (!node.data.situacao_ativa) {
		img.attr('filter','url(#filtroPB)');
	  };
	  img.attr('width', gparam.nodeSize)
		 .attr('height', gparam.nodeSize)
		 .link(node.data.imagem);

		var	rect = Viva.Graph.svg('rect')
				.attr('stroke', 'black')
				.attr('stroke-width', 3)		//.attr('stroke-width', 1)			
				.attr('fill', 'transparent') //corFundoImagemF(node)) 
				.attr('width', gparam.nodeSize)
				.attr('height', gparam.nodeSize)
				.attr('visibility', 'hidden');  //hidden or visible

	ui.insertAdjacentHTML('beforeEnd','<title>' + textoTooltip(node, true) + '</title>'); //title deve ser a primeira coisa apos g para funcionar no firefox 48

	var labels = node.data.label.split('\n');
	var textspan = Viva.Graph.svg('tspan').attr('x', 0).attr('dy', 0).text(labels[0]);
	svgText.append(textspan)
	if (labels.length==2) {
		var textspan2 = Viva.Graph.svg('tspan').attr('x', 0).attr('dy', gparam.tamanhoFonte*1.1).text(labels[1])
		svgText.append(textspan2);
	}
	ui.append(svgText);
	ui.append(rect);
	ui.append(img);
	
	
	/*
	ui.onclick = function(event) {
		if ( event.shiftKey || event.controlKey) {
			event.preventDefault();
			//event.stopPropagation();
			//return true;
			
		}
		return;
	};
	*/
	ui.onclick = function(event) {
		if ( event.shiftKey || event.controlKey) {
			event.preventDefault();
			//event.stopPropagation();
			//return true;
		}
	};
	ui.onmouseup = function(event) {
		selecionaNoid(node.id, event.shiftKey);
		event.preventDefault();
		return;
	};
	ui.ondblclick = function(event) {
		selecionaNoid(node.id, false);
		if (event.which == 1) {
			jsonRede(node.id, 1);
			event.preventDefault();
		};
		return;
	}; 

	return ui;
}).placeNode(function(nodeUI, pos) {
	// 'g' element doesn't have convenient (x,y) attributes, instead
	// we have to deal with transforms: http://www.w3.org/TR/SVG/coords.html#SVGGlobalTransformAttribute
	nodeUI.attr('transform', 'translate(' + (pos.x - gparam.nodeSize/2) + ',' + (pos.y - gparam.nodeSize/2) + ')');
}); //.graphics.node(function(node) 

graphics.link(function(link){
	var label = Viva.Graph.svg('text')
		.attr('id','link_label_'+link.data.id)
		.attr('font-size',gparam.tamanhoFonte+'px')
		.attr('fill',link.data.cor)
		.text(String(link.data.label));
	gparam.idLigacoes[link.data.origem + '\n' + link.data.destino] = link.data.id;
	graphics.getSvgRoot().childNodes[0].append(label);

	return Viva.Graph.svg('path')
		.attr('stroke', 'gray')
		.attr('marker-end', 'url(#Triangle)')
		.attr('id', link.data.id);
	}).placeLink(function(linkUI, fromPos, toPos) {
		var toNodeSize = gparam.nodeSize,
		fromNodeSize = gparam.nodeSize;

		var from = geom.intersectRect(
			fromPos.x - fromNodeSize / 2, // left
			fromPos.y - fromNodeSize / 2, // top
			fromPos.x + fromNodeSize / 2, // right
			fromPos.y + fromNodeSize / 2, // bottom
			fromPos.x, fromPos.y, toPos.x, toPos.y)
		|| fromPos;

		var to = geom.intersectRect(
			toPos.x - toNodeSize / 2, // left
			toPos.y - toNodeSize / 2, // top
			toPos.x + toNodeSize / 2, // right
			toPos.y + toNodeSize / 2, // bottom
			// segment:
			toPos.x, toPos.y, fromPos.x, fromPos.y)
			|| toPos;

		var data = 'M' + from.x + ',' + from.y + 'L' + to.x + ',' + to.y;

		linkUI.attr("d", data);

		//document.getElementById('label_'+linkUI.attr('id'))
		document.getElementById('link_label_'+linkUI.attr('id'))
			.attr("x", (from.x + to.x) / 2)
			.attr("y", (from.y + to.y) / 2);
	}); //.graphics.link(function(link)

function textoTooltip(node, todoTexto){ // se todoTexto=false, exibe apenas dados dos marcadores
	var LF = String.fromCharCode(10);
	var texto = node.id;
	if (node.id.startsWith('PJ_')) {
		texto += LF + node.data.descricao + LF + node.data.logradouro + LF + node.data.municipio + '/' + node.data.uf;
	} else if (node.id.startsWith('PF_')) {
		
	}
	return texto;
}


function selecionaNoid(nodeid, shift_pressionado) {
	// ativa retângulo em torno do ícone do nó.
	// se o shift está pressionado, pode ter mais de um nó
	// quando node=null e shift_pressionado=false, remove todos os nós da seleção.
	var nodeEstavaSelecionado = false;
	if (nodeid) {
		nodeEstavaSelecionado = gparam.idNosSelecionados.has(nodeid);
	} else {
		for (let n of gparam.idNosSelecionados) {
			graphics.getNodeUI(n).getElementsByTagName('rect')[0].setAttribute('visibility', 'hidden');  //hidden or visible)		
		}
		gparam.idNosSelecionados = new Set(); 
		gparam.idnoSelecionado = null;
		return;
	}
	if (shift_pressionado) {
		if (nodeEstavaSelecionado) {
			gparam.idnoSelecionado = null;
			gparam.idNosSelecionados.delete(nodeid);
			graphics.getNodeUI(nodeid).getElementsByTagName('rect')[0].setAttribute('visibility', 'hidden');
		} else {
			gparam.idnoSelecionado = nodeid;
			gparam.idNosSelecionados.add(nodeid);
			graphics.getNodeUI(nodeid).getElementsByTagName('rect')[0].setAttribute('visibility', 'visible');
		}
	} else {
		for (let n of gparam.idNosSelecionados) {
			graphics.getNodeUI(n).getElementsByTagName('rect')[0].setAttribute('visibility', 'hidden');  //hidden or visible)		
		}
		gparam.idNosSelecionados = new Set(); 
		gparam.idnoSelecionado = nodeid;
		if (nodeid) {
			graphics.getNodeUI(nodeid).getElementsByTagName('rect')[0].setAttribute('visibility', 'visible');  //hidden or visible)
			gparam.idNosSelecionados.add(nodeid);
			gparam.idnoSelecionado = nodeid;
		}
		
	}
	//ajusta menu contextual
	ajustaMenuContextual(nodeid);
	return;
}

function ajustaMenuContextual(nodeid) {
	gdebug = nodeid;
	if (nodeid) {
		if (nodeid.startsWith('PJ_')) {
			var descricao = graph.getNode(nodeid).data.descricao;
			document.getElementById('mc_titulo').label = nodeid + '-' + descricao.substr(0,30);
		} else {
			document.getElementById('mc_titulo').label = nodeid;
		}
	} else {
		document.getElementById('mc_titulo').label = '';
	}
}
function localizaNo(texto) { //retorna n. de nos localizados
	var t = texto.toUpperCase(); 
	var idNosLocalizados= new Set(); 
	var primeiroNoid = null;
	graph.forEachNode(function(node){
		if ((node.id.search(t)!= -1) || (node.data.descricao.search(t)!=-1)) {
		
			idNosLocalizados.add(node.id);
			if (!primeiroNoid) {
				primeiroNoid = node.id;
			}
		}
	});
	if (idNosLocalizados.size) {
		selecionaNoid(null, false); //apaga seleção primeiro
		for (let n of idNosLocalizados) {
			graphics.getNodeUI(n).getElementsByTagName('rect')[0].setAttribute('visibility', 'visible'); 
			gparam.idNosSelecionados.add(n);
		}
		gparam.idnoSelecionado = primeiroNoid;
		ajustaMenuContextual(gparam.idnoSelecionado);
		var position = gparam.renderer.getLayout().getNodePosition(gparam.idnoSelecionado);
		gparam.renderer.moveTo(position.x,position.y);
		return gparam.idNosSelecionados.size;
	} else {
		return 0;
	}
	
}

function menu_localiza() {
	menu_rendererAtivarParar(false);
	ativaAtalhos(false);
	alertify.prompt( 'Localizar item na tela', 'Digite partes do Nome, CNPJ ou CPF', ''
	   , function(evt, texto) { 
			ativaAtalhos(true);
			if (texto) { 
				contagem = localizaNo(texto);
				if (contagem) {
					alertify.success('Localizou '+ contagem + ' ocorrencias(s) de ' + texto);
				} else {
					alertify.error('Não localizou ' + texto);
				};
				menu_rendererAtivarParar(true);
			}
		}, function() { ativaAtalhos(true);
			menu_rendererAtivarParar(true);
		});
	
}

function menu_rendererAtivarParar(bAtivar) {
	if (!bAtivar) {
		gparam.renderer.pause();
		alertify.success('O leiaute foi pausado. Para ativar, pressione SHIFT+Q.');
	} else {
		gparam.renderer.resume();
		alertify.success('O leiaute foi reiniciado. Para parar, pressione Q.') 
	}
}

function removeIdNo(noId) { 
	//remover o nó da lista de nós

	//remover ligações que partem do nó e que chegam ao nó
	//procura label do link para remover
	graph.forEachLinkedNode(noId, function(nodeaux, link){
		var linkUIaux=null;
		try {
			linkUIaux = graphics.getLinkUI(link.id);
			element=document.getElementById('link_label_'+linkUIaux.attr('id'));
			element.parentNode.removeChild(element);
		} catch (e){; };
	});

	graph.removeNode(noId);
	//remove no da lista de selecionados
	gparam.idNosSelecionados.delete(noId);
}

function menu_excluirNosSelecionados() {
	if (!gparam.idNosSelecionados.size) {
		alertify.alert('Exclusão', 'Não há itens selecionados para exclusão. Selecione e tente novamente.', function(){ ; });
		return;
	}
	alertify.confirm('Excluir '+ gparam.idNosSelecionados.size + ' nós selecionados.', 'Deseja prosseguir? Não será possível reverter a exclusão.', 
			function(){ 
				for (let n of gparam.idNosSelecionados) {
					removeIdNo(n);
				}			
				alertify.success('Os nós selecionados foram excluídos.') 
			}
            , function(){ ;}
	);
}

function menu_excluirTudo() {
	var setNos = new Set();
	graph.forEachNode( function(node) { 
		setNos.add(node.id);
	});
	alertify.confirm('Excluir todos os '+ setNos.size + ' nós.', 'Deseja prosseguir? Não será possível reverter a exclusão.', 
			function(){ 
				for (let n of setNos) {
					removeIdNo(n);
				}			
				alertify.success('Os nós selecionados foram excluídos.') 
			}
            , function(){ ;}
	);
}

function menu_inserirDesfazer() {
	var idNosInseridos = gparam.listaIdNosInseridos.pop();
	if (!idNosInseridos) return;
	var tam = idNosInseridos.size;
	for (let n of idNosInseridos) {
		removeIdNo(n);
	}
	alertify.success('Foram removidos ' + tam + ' nós.');
}

function jsonRede(idin, camada) {
	var url = "";
	idin = idin.replace(/\//g, '');
	if (!idin) {
		return;
	}
	url = "/rede/grafojson/" + idin  + "/" + camada ;
	document.body.style.cursor = 'wait';
	fetch(url, {method: 'get', mode: 'cors',})
	  .then(
		function(response) {
		  if (response.status !== 200) {
		  	document.body.style.cursor = 'default'
			console.log('Looks like there was a problem. Status Code: ' +  response.status);
			alertify.error('Aconteceu um erro (' +  response.status + ')');
			return;
		  }
		  // Examine the text in the response
		  response.json().then(function(data) {
			//console.log(data);
			document.body.style.cursor = 'default'
			insereJson(data);
		  });
		}
	  )
	  .catch(function(err) {
	    document.body.style.cursor = 'default'
		console.log('Fetch Error :-S', err);
		alertify.error('Aconteceu um erro (Fetch error ' + err + ')');
	  });
}

function menu_dados() {
	var idin = gparam.idnoSelecionado;
	if (!idin) return;
	var url = "/rede/dadosdetalhes/" + idin ;
	fetch(url, {method: 'get', mode: 'cors',})
	  .then(
		function(response) {
		  if (response.status !== 200) {
			console.log('Looks like there was a problem. Status Code: ' +  response.status);
			alertify.error('Aconteceu um erro (' +  response.status + ')');
			return;
		  }
		  // Examine the text in the response
		  response.json().then(function(data) {
			//console.log(data);
			var texto = "";
			gparam.json = data;
			//for (var i of Object.entries(gparam.json)) {
			//	texto += '<b>' + i[0] + ':<b> ' + i[1] + '<br> '; }
			if (data) {
				//document.getElementById("corpo").disabled = true; 
				alertify.alert("Dados de "+gparam.idnoSelecionado, data, function(){});
			} else {
				alertify.success('Sem dados disponíveis para ' + idin);
			}
		  });
		}
	  )
	  .catch(function(err) {
		console.log('Fetch Error :-S', err);
		alertify.error('Aconteceu um erro (Fetch error ' + err + ')');
	  });
}

function menu_dadosNovaJanela() {
	if (!gparam.idnoSelecionado) return;
	if (gparam.idnoSelecionado.startsWith('PJ_')) { 
		var win = window.open('/rede/dados_janela/'+gparam.idnoSelecionado, gparam.idnoSelecionado,'resizable,scrollbars,status,menubar=no, toolbar=no, personalbar=no, location=no, titlebar=0, height=500, width=400');
	} else {
		alertify.success('Sem dados disponíveis para ' + gparam.idnoSelecionado);
	}
}


function insereJson(jsonIn) {
	var no = jsonIn.no;
	var ligacao = jsonIn.ligacao;
	gparam.json = JSON.parse(JSON.stringify(jsonIn));
	var kn=0, kl=0;
	var idNosInseridos = new Set();
	var idNosCamadaZero = new Set();
	var kNosAInserir = 0;
	for (let noaux of Object.values(no)) { //verifica quantos nós serão inseridos
		if (!graph.hasNode(noaux.id)) { 
			kNosAInserir += 1;
		}
	}
	if (kNosAInserir > gparam.confirmaAntesDeInserirNNos) {
		let mensagem = 'Deseja inserir ' + kNosAInserir + ' itens?';
		if (kNosAInserir>1000) mensagem += '\nObs: Com muitos itens a execução ficará muito lenta ou o browser poderá travar.';
		var resp = confirm(mensagem);
		if (!resp) {
			return;
		}
		gparam.confirmaAntesDeInserirNNos = kNosAInserir;
	}
	for (let noaux of Object.values(no)) {
		if (!graph.hasNode(noaux.id)) { 
			graph.addNode(noaux.id, JSON.parse(JSON.stringify(noaux)));
			kn += 1;
			idNosInseridos.add(noaux.id);
			if (!noaux.camada) {
				idNosCamadaZero.add(noaux.id);
			}
		}
	}
	if (idNosInseridos.size) {
		gparam.listaIdNosInseridos.push(idNosInseridos);
	}
	for (let ligaux of Object.values(ligacao)) {
		//console.log(ligaux.origem);
		if (!graph.hasLink(ligaux.origem, ligaux.destino)) { 
			ligaux.id = gparam.kligacoes;
			
			if ((graph.hasNode(ligaux.origem)) && (graph.hasNode(ligaux.origem))) {
				try { //dá erro com a rede de teste
					graph.addLink(ligaux.origem, ligaux.destino, JSON.parse(JSON.stringify(ligaux)));
					kl += 1;
					gparam.kligacoes = gparam.kligacoes + 1;
				} catch (e) {
					console.log('erro na ligacao');
					console.log(e);
					console.log(JSON.parse(JSON.stringify(ligaux)));
				}
			} else {
				console.log('faltando um dos nós da ligação.');
				console.log(JSON.parse(JSON.stringify(ligaux)));
			}
		}
	}
	if (idNosCamadaZero.size) {
		selecionaNoid(null, false); //desseleciona tudo
		for (let n of idNosCamadaZero) {
			selecionaNoid(n, true);
		}
	} 
	
	var textoMensagem = '';
	if (kn)	textoMensagem = 'Foram inseridos ' + kn + ' cpfs/cnpjs';
	if (kl) {
		if (textoMensagem) {
			textoMensagem += ' e ' + kn + 'ligações.';
		} else {
			textoMensagem += 'Foram inseridos ' + kl + ' ligações.'
		}
	}
	if (!textoMensagem) textoMensagem = 'Não encontrou novos itens';
	
	if (jsonIn.mensagem_popup) {
		alertify.alert('Alerta!', jsonIn.mensagem_popup, function(){ alertify.success(textoMensagem); });
	} else {
		alertify.success(textoMensagem);
	}
	if (jsonIn.mensagem_lateral) {
		alertify.success(jsonIn.mensagem_lateral);
	}
}

function menu_inserir() {
	//var cn = prompt('Digite CNPJ ou CPF-Nome, ou vários CNPJs separados por ;');
	var camada = 0;
	ativaAtalhos(false);
	alertify.prompt( 'Inserir do Banco de Dados SQLITE', 'Digite CNPJ, Razão Social ou Nome completo do Sócio, Nome-sócio (formato PF_***12345**-NOME) ou vários CNPJs separados por ponto e virgula (;). Para visualizar um cnpj aleatório, digite TESTE', ''
               , function(evt, cnpjs) { 
					if (cnpjs) { 
						var camada = prompt('Camada',1);
						if (camada) jsonRede(cnpjs, camada);
					}
					ativaAtalhos(true);
				}, function() { ativaAtalhos(true);}
	);
}

function menu_buscaEmSite(siteUrl){
	var strUrl = siteUrl + '"' + graph.getNode(gparam.idnoSelecionado).data.descricao + '"';		
	//if (strUrl == '') { return; }
	var novaJanela=window.open(strUrl);
	novaJanela.focus();
};

function menu_GoogleMaps() {
	var data = graph.getNode(gparam.idnoSelecionado).data;
	if (data.logradouro) {
		var strUrl = 'https://www.google.com.br/maps/place/' + data.logradouro + ',' + data.municipio + '/' + data.uf;
		var novaJanela=window.open(strUrl);
		novaJanela.focus();
	} else {
		alertify.error('Não há endereço cadastrado.');
	}
}

function menu_abrirNovaAba(bAbreVazio) {
	var novaJanela=null;
	if (bAbreVazio) {
		novaJanela=window.open("/rede/");
		novaJanela.focus(); 
		return;
	}
	var strUrl = "/rede/grafico/" + gparam.idnoSelecionado+ "/";
	ativaAtalhos(false);
	alertify.prompt( 'Abrir ' + gparam.idnoSelecionado+  ' em nova aba', 'Selecione camadas', '1', 
		function(evt, cam) { 	
			ativaAtalhos(true);
			novaJanela=window.open(strUrl+cam);
			novaJanela.focus();} , 
		function() { ativaAtalhos(true);}	) ;
}

function menu_pinarNo(){
	var layout = gparam.renderer.getLayout();
	var no = graph.getNode(gparam.idnoSelecionado);
	layout.pinNode(no, !layout.isNodePinned(no));
};

function evento_teclasDown(e) {
	if (e.code.startsWith('Digit') && (e.code.length==6)) {
		var ns = e.code.substr(-1);
		if (('0' <= ns) && (ns <='9')) {
			if (ns=='0') {
				jsonRede(gparam.idnoSelecionado, 10);
			} else {
				jsonRede(gparam.idnoSelecionado, parseInt(ns));
			}
			e.preventDefault();
			return;
		}
	} else if (e.ctrlKey && (e.code=='KeyZ')) {
		menu_inserirDesfazer();
	} else if (e.code=='KeyF') {
		menu_localiza();
	} else if (e.code=='KeyI') {
		menu_inserir();
	} else if ((!e.shiftKey) && (e.code=='KeyD')) {
		menu_dados();
	} else if ((e.shiftKey) && (e.code=='KeyD')) {
		menu_dadosNovaJanela();
	} else if ((!e.shiftKey) && (e.code=='KeyA')) {
		menu_abrirNovaAba(false);
	} else if ((e.shiftKey) && (e.code=='KeyA')) {
		menu_abrirNovaAba(true);
	} else if ((!e.shiftKey) && (e.code=='KeyG')) {
		menu_buscaEmSite('https://www.google.com/?#q=');;
	} else if ((e.shiftKey) &&(e.code=='KeyG')) {
		menu_GoogleMaps('https://www.google.com/?#q=');;
	} else if (e.code=='KeyJ') {
		menu_buscaEmSite('http://www.jusbrasil.com.br/diarios/busca?q=');;
	} else if (e.code=='KeyL') {
		menu_localiza();
	} else 	if (e.code=='Delete') {
		menu_excluirNosSelecionados();
	} else 	if (e.code=='KeyP') {
		menu_pinarNo();
	} else 	if ((!e.shiftKey) && (e.code=='KeyQ')) {
		menu_rendererAtivarParar(false);
	} else 	if ((e.shiftKey) && (e.code=='KeyQ')) {
		menu_rendererAtivarParar(true);
	} else {
		return;
	} 
	e.preventDefault();
}

function ativaAtalhos(bcaptura) {
	// é preciso desativar antes de usar o alertify.prompt
	if (bcaptura) {
		document.onkeydown = evento_teclasDown;
	} else {
		document.onkeydown = null;
	}
}


function saveTextAsFile(textToSave, nomeArquivo, mime)
{   //salva arquivo texto sem precisar mandar para o servidor.
	var textToSaveAsBlob = new Blob([textToSave], mime); //{type:"text/plain"});
	var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
	var fileNameToSaveAs = nomeArquivo; 
	var downloadLink = document.createElement("a");
	downloadLink.download = fileNameToSaveAs;
	downloadLink.innerHTML = "Download File";
	downloadLink.href = textToSaveAsURL;
	downloadLink.onclick = function (event) {document.body.removeChild(event.target);} ;
	downloadLink.style.display = "none";
	document.body.appendChild(downloadLink);
	downloadLink.click();
}
function destroyClickedElement(event)
{
	document.body.removeChild(event.target);
}

function exportaJsonParaDownload() {
	//var dadosJSON = JSON.stringify({'no':['1','2'], 'ligacao':[]});;
	var iframeAuxiliar = document.getElementById('iframeAuxiliarDownload');
	var idArray = [];
	if (iframeAuxiliar.exportaSoSelecionados) {
		idArray = [...gparam.idNosSelecionados];
	} else {
		graph.forEachNode( function(node) {
				idArray.push(node.id);
			}
		);
	}
	var dadosJSON = JSON.stringify(idArray); //não aceita stringify de set
	var mime={type:"application/json"};
	var formato = 'xlsx';
	//mime = {type:"application/octet-stream"};
	iframeAuxiliar.onload = null;
	var iframeDocumento = iframeAuxiliar.contentDocument || iframeAuxiliar.contentWindow.document;
	var form = iframeDocumento.getElementById('formDownload');
	form.dadosJSON.value = dadosJSON;
	form.action = "/rede/dadosemarquivo/xlsx" ;
	form.submit();
}

function menu_exporta(bSoSelecionados) {
	var formato='xlsx';
	var iframeAuxiliar = document.getElementById('iframeAuxiliarDownload');
	iframeAuxiliar.onload = exportaJsonParaDownload;
	iframeAuxiliar.src = '/rede/formdownload.html';
	iframeAuxiliar.exportaSoSelecionados = bSoSelecionados;
}

//menu contextual
var menu = null;
function showMenu(x, y){
    menu.style.left = x + 'px';
    menu.style.top = y + 'px';
    menu.classList.add('show-menu');
}
function hideMenu(){
    menu.classList.remove('show-menu');
}
function onContextMenu(e){
    e.preventDefault();
    showMenu(e.pageX, e.pageY);
    document.addEventListener('click', onClick, false);
}
function onClick(e){
    hideMenu();
    document.removeEventListener('click', onClick);
}
//.menu contextual

function main() {
	var renderer = Viva.Graph.View.renderer(graph, {
			graphics : graphics
		});
	gparam.renderer = renderer;
	renderer.run();
	if (gparam.cpfcnpjInicial) {
		jsonRede(gparam.cpfcnpjInicial, gparam.camadaInicial);
		ativaAtalhos(true);
	} else {
		menu_inserir();
	}
	//adicionaMenuContexto();
	menu = document.querySelector('.menu');
	document.addEventListener('contextmenu', onContextMenu, false);
	
} //main()




</script>

<style type="text/css" media="screen">
	html, body, svg { width: 100%; height: 100%;}
</style>
</head>
<body id='corpo' onload='main()' style='overflow:hidden;'>
<!-- overflow:hidden para não aparecer barra de rolagem -->

<menu class="menu">
  <li class="menu-item submenu">
    <button type="button" class="menu-btn"> <i class="fa fa-layer-group"></i> <span class="menu-text">Incluir Camada</span> </button>
    <menu class="menu">
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:jsonRede(gparam.idnoSelecionado, 1);"> <span class="menu-text">1</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:jsonRede(gparam.idnoSelecionado, 2);"> <span class="menu-text">2</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:jsonRede(gparam.idnoSelecionado, 3);"> <span class="menu-text">3</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:jsonRede(gparam.idnoSelecionado, 4);"> <span class="menu-text">4</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:jsonRede(gparam.idnoSelecionado, 5);"> <span class="menu-text">5</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:jsonRede(gparam.idnoSelecionado, 6);"> <span class="menu-text">6</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:jsonRede(gparam.idnoSelecionado, 7);"> <span class="menu-text">7</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:jsonRede(gparam.idnoSelecionado, 8);"> <span class="menu-text">8</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:jsonRede(gparam.idnoSelecionado, 9);"> <span class="menu-text">9</span> </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:jsonRede(gparam.idnoSelecionado, 10);"> <span class="menu-text">10</span> </button>
      </li>
    </menu>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="javascript:menu_inserir();"> 
      <i class="fa fa-plus"></i> <span class="menu-text">Inserir CNPJ ou CPF (I)</span> 
    </button>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="javascript:menu_inserirDesfazer();"> 
      <i class="fa fa-undo"></i> <span class="menu-text">Desfazer Inserção (Ctrl+Z)</span> 
    </button>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="javascript:menu_dados()"><i class="fa fa-newspaper"></i> <span class="menu-text">Dados Básicos (D)</span> </button>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" id="mc_titulo" onclick="javascript:menu_dadosNovaJanela()">
      <i class="fa fa-folder-open"></i> 
      <span class="menu-text">Dados em Janela (Shift+D)</span>
    </button>
  </li>
  <li class="menu-item submenu">
   <button type="button" class="menu-btn"> <i class="fa fa-file-excel"></i> <span class="menu-text">Exportar em Excel</span> </button>
    <menu class="menu">
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:menu_exporta(true)"> 
          <i class="fa fa-file-excel"></i><span class="menu-text">Itens Selecionados</span> 
        </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:menu_exporta(false)"> 
          <i class="fa fa-file-excel"></i><span class="menu-text">Todos</span> 
        </button>
      </li>
	</menu>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="javascript:menu_localiza();"> 
      <i class="fa fa-search"></i> <span class="menu-text">Localizar CNPJ ou CPF (L)</span> 
    </button>
  </li>
  <li class="menu-item submenu">
    <button type="button" class="menu-btn"> <i class="fa fa-users"></i> <span class="menu-text">Busca em sites</span> </button>
    <menu class="menu">
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:menu_buscaEmSite('https://www.google.com/?#q=');"> 
          <i class="fab fa-google"></i><span class="menu-text" style="margin-left:12px">Google (G)</span> 
        </button>
	  </li>
	  <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:menu_GoogleMaps();"> 
          <i class="fab fa-google"></i><span class="menu-text" style="margin-left:12px">Google Maps(Shift+G)</span> 
        </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:menu_buscaEmSite('http://www.jusbrasil.com.br/diarios/busca?q=');"> 
          <i class="fa fa-balance-scale"></i><span class="menu-text">JusBrasil (J)</span> 
        </button>
      </li>
    </menu>
  </li>

  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="javascript:menu_abrirNovaAba(false)"> <i class="fa fa-external-link-alt"></i> <span class="menu-text">Gráfico em nova aba (A)</span> </button>
  </li>
  <li class="menu-item">
    <button type="button" class="menu-btn" onclick="javascript:menu_pinarNo();"> 
      <i class="fa fa-thumbtack"></i> <span class="menu-text" alt="Fixa/Desfixa nó na posição do mapa, não sendo afetado pelo arrastamento de outros nós">Fixar o Nó (P)</span> 
    </button>
  </li>

  <li class="menu-item submenu">
    <button type="button" class="menu-btn"> <i class="fa fa-project-diagram"></i> <span class="menu-text">Leiaute</span> </button>
    <menu class="menu">
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:menu_rendererAtivarParar(false);"> 
          <i class="fa fa-stop"></i> <span class="menu-text">Parar (Q)</span> 
        </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:menu_rendererAtivarParar(true);"> 
          <i class="fa fa-play"></i> <span class="menu-text">Continuar (Shift+Q)</span> 
        </button>
      </li>
    </menu>
  </li>

  <li class="menu-separator"></li>

  <li class="menu-item submenu">
    <button type="button" class="menu-btn"> <i class="fa fa-trash"></i> <span class="menu-text">Excluir</span> </button>
    <menu class="menu">
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:menu_excluirNosSelecionados()"> 
          <i class="fa fa-trash"></i> <span class="menu-text">Excluir Nós selecionados (Del)</span> 
        </button>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-btn" onclick="javascript:menu_excluirTudo()"> 
          <i class="fa fa-trash"></i> <span class="menu-text">Excluir Tudo</span> 
        </button>
      </li>
    </menu>
  </li>
</menu>

<iframe id="iframeAuxiliarDownload" src="" onload="" style="display:none"></iframe>

</body>
</html>
